@charset "UTF-8";

*   {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      }

      body{
        padding: 15px;
        margin: 15px;
      }

      header {
        background-color: gray;
        text-align: left;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 10px 10px 0px 0px;
      }

      header > h1 {
        text-indent: 80px;;
        font-size: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

      nav {
        text-align: left;
        padding: 10px;
        background-color: rgb(206, 206, 77);
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 30px;

      }

      nav > a {
        padding: 10px;
        color: white;
        text-decoration: none;


      }

      nav > a:hover {
        text-decoration: underline;
        color: black;
        background-color: rgb(223, 223, 46);
        border-radius: 7px;
        transition-duration: 1.5s;
      }

      h2 {
        text-indent: 15px;
        font-size: bold;
      }

      p{
        text-indent: 15px;
        padding: 10px;
        margin: 5px;
        font-size: 1.2em;

      }

      div#q1 {
        text-align: center;

      }

      