@charset "UTF-8";

*   {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      }

      body{
        padding: 15px;
        margin: 15px;
      }

      header {
        background-color: gray;
        text-align: center;
        padding-bottom: 10px;
      }